In [35]:
import warnings
warnings.filterwarnings("ignore")

## Preprocessing

In [36]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [37]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
drop_columns = ['EIN', 'NAME']
application_df = application_df.drop(columns = drop_columns)

application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [38]:
# Rows, columns
application_df.shape

(34299, 10)

In [39]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [40]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [41]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

cutoff_value = 500

# Number of each 'APPLICATION_TYPE'
T_nn = application_df['APPLICATION_TYPE'].value_counts()

# Create a list
application_types_to_replace = T_nn[T_nn < cutoff_value].index.tolist()

# relabel values in 'APPLICATION_TYPE'
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE']\
                                      .apply(lambda x: 'Other' if x in application_types_to_replace else x)

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [43]:
# You may find it helpful to look at CLASSIFICATION value counts >1

C_nnnn = application_df['CLASSIFICATION'].value_counts()
C_nnnn[C_nnnn > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [44]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

cutoff_value = 1000
print(C_nnnn.iloc[5:].index, '\n\n')

# Create a list
classifications_to_replace = C_nnnn[C_nnnn < cutoff_value].index.tolist()

# relabel values in 'CLASSIFICATION'
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION']\
                                      .apply(lambda x: 'Other' if x in classifications_to_replace else x)

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278',
       'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600',
       'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256',
       'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820',
       'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570',
       'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561',
       'C4500', 'C2150'],
      dtype='object')

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [45]:
# Find categorical data
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [46]:
# Select only object type columns
object_cols = application_df.select_dtypes(include=['object'])

# List the names of the object type columns
list_object_cols = object_cols.columns.tolist()
list_object_cols

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [47]:
# Make a copy before 'pd.get_dummies'
application_df_no_dummies = application_df.copy()
application_df_no_dummies.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [48]:
# Convert categorical data to numeric with `pd.get_dummies`
# Change application_df to include columns with numeric values

application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [49]:
# Split our preprocessed data into our features and target arrays

y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns = "IS_SUCCESSFUL").values
X_columns = application_df.drop(columns = "IS_SUCCESSFUL").columns.tolist()
print(f'y : {y}')
print(f'X (Column Names) : {X_columns}')

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

y : [1 1 0 ... 0 1 0]
X (Column Names) : ['STATUS', 'ASK_AMT', 'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8', 'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent', 'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000', 'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev', 'ORGANIZATION_Association', 'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0', 'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999', 'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y']

In [50]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

* Activation function: **relu**
* 1st Hidden Layer density: 8
* 2nd Hidden Layer density: 3

In [51]:
# Callback function to save the model's weights every five epochs
model_checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath = "model_weights_original.h5",
    save_weights_only = True,
    save_best_only = False,
    monitor = 'loss',
    mode='auto',
    save_freq = 5
)

In [52]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = "relu", name="dense"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = "relu", name="dense_1"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid", name="dense_2"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 3)                 27

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 383 (1.50 KB)
Trainable params: 383 (1.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [53]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [54]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train,epochs = 100, callbacks = [model_checkpoint_callback])

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.6273 - accuracy: 0.6552
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5701 - accuracy: 0.7197
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5629 - accuracy: 0.7285
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5594 - accuracy: 0.7292
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5574 - accuracy: 0.7290
Epoch 6/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5561 - accuracy: 0.7297
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5551 - accuracy: 0.7296
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5545 - accuracy: 0.7303
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5539 - accuracy: 0.7291
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5533 - accuracy: 0.7294
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5530 - accuracy: 0.7297
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5526 - accuracy: 0.7300
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5522 - accuracy: 0.7304
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5519 - accuracy: 0.7305
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5517 - accuracy: 0.7307
Epoch 16/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5514 - accuracy: 0.7302
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5514 - accuracy: 0.7306
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5510 - accuracy: 0.7305
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5506 - accuracy: 0.7301
Epoch 20/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5507 - accuracy: 0.7313
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5504 - accuracy: 0.7313
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5500 - accuracy: 0.7305
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5501 - accuracy: 0.7311
Epoch 24/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5497 - accuracy: 0.7310
Epoch 25/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5493 - accuracy: 0.7311
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5495 - accuracy: 0.7312
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5496 - accuracy: 0.7310
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5493 - accuracy: 0.7309
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5493 - accuracy: 0.7314
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5490 - accuracy: 0.7310
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5491 - accuracy: 0.7309
Epoch 32/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5490 - accuracy: 0.7314
Epoch 33/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5488 - accuracy: 0.7319
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5488 - accuracy: 0.7318
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5486 - accuracy: 0.7310
Epoch 36/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5485 - accuracy: 0.7313
Epoch 37/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5485 - accuracy: 0.7320
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5482 - accuracy: 0.7311
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5487 - accuracy: 0.7322
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5482 - accuracy: 0.7321
Epoch 41/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5484 - accuracy: 0.7323
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5481 - accuracy: 0.7325
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5483 - accuracy: 0.7324
Epoch 44/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5481 - accuracy: 0.7324
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5480 - accuracy: 0.7317
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5479 - accuracy: 0.7317
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5480 - accuracy: 0.7328
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5480 - accuracy: 0.7317
Epoch 49/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5480 - accuracy: 0.7320
Epoch 50/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5481 - accuracy: 0.7320
Epoch 51/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5477 - accuracy: 0.7324
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5479 - accuracy: 0.7327
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5478 - accuracy: 0.7320
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5480 - accuracy: 0.7317
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5478 - accuracy: 0.7324
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5481 - accuracy: 0.7323
Epoch 57/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5477 - accuracy: 0.7329
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5477 - accuracy: 0.7326
Epoch 59/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5480 - accuracy: 0.7319
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5478 - accuracy: 0.7318
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5475 - accuracy: 0.7325
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5472 - accuracy: 0.7338
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5474 - accuracy: 0.7323
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5475 - accuracy: 0.7329
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5473 - accuracy: 0.7325
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5474 - accuracy: 0.7328
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7331
Epoch 68/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5473 - accuracy: 0.7328
Epoch 69/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5472 - accuracy: 0.7334
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5472 - accuracy: 0.7328
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7334
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7332
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5470 - accuracy: 0.7329
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5473 - accuracy: 0.7334
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7334
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5472 - accuracy: 0.7331
Epoch 77/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5472 - accuracy: 0.7330
Epoch 78/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5470 - accuracy: 0.7336
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5469 - accuracy: 0.7339
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7329
Epoch 81/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5471 - accuracy: 0.7337
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5470 - accuracy: 0.7332
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5470 - accuracy: 0.7337
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5472 - accuracy: 0.7326
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5469 - accuracy: 0.7328
Epoch 86/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5469 - accuracy: 0.7331
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5467 - accuracy: 0.7331
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5466 - accuracy: 0.7331
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5466 - accuracy: 0.7331
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5468 - accuracy: 0.7333
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5468 - accuracy: 0.7331
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5468 - accuracy: 0.7336
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5468 - accuracy: 0.7335
Epoch 94/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5467 - accuracy: 0.7329
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5469 - accuracy: 0.7335
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5469 - accuracy: 0.7336
Epoch 97/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5468 - accuracy: 0.7336
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5467 - accuracy: 0.7338
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5467 - accuracy: 0.7334
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5466 - accuracy: 0.7331

In [55]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5542 - accuracy: 0.7321 - 539ms/epoch - 2ms/step
Loss: 0.5542212128639221, Accuracy: 0.7321282625198364

In [56]:
# Export our model to HDF5 file

filepath = "AlphabetSoupCharity.h5"
nn.save(filepath)